<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-people icon-4x"></i>
    </div>
    <p class="empty-title h5">Are You a Subscriber?</p>
    <p class="empty-subtitle">You should be. Subscribe for more stuff in your inbox.</p>
    <div class="empty-action">
        <button class="btn btn-primary">Subscribe</button>
    </div>
</div>

@code {

}
